{% extends "layout.html" %}
{% block content %}
<title>home</title>
<head>
</head>
<div class="container" align="center">
    <p align="justify">Source - <a href="https://ope.ed.gov/campussafety/#/">https://ope.ed.gov/campussafety<a>
The database mentioned is an open source and it is assessed and found to be quite useful and appropriate to match our proposed idea. The data is collected from approximately <b>11,182</b> Universities across USA. Our Dataset contains approximately <b>1.4 million</b> records. We rectified the data to match our output sets.

</p>
    <p align="justify">We provide analysis based on location, time, gender, race etc. to give an idea of the crimes usually committed around the new place they are going to be in so that they can be mentally prepared to live there.
    </p>
    <ul>
        <p align="left">The crimes are categorized based on 4 different locations:-</p>
        <li align="justify">Non-campus</li>
        <li align="justify">On-campus</li>
        <li align="justify">Public property</li>
        <li align="justify">Residence hall</li>
    </ul>
    
    <ul>
        <p align="left">These location specific crime data is further divided in to these categories:</p>
        <li align="justify">Criminal offenses data</li>
        <li align="justify">Arrest data</li>
        <li align="justify">Hate crimes data</li>
        <li align="justify">Disciplinary actions data</li>
        <li align="justify">Vawa data</li>
    </ul>

</div>
<script type="text/javascript">
$('#target').click(function(e) {
    e.preventDefault();
    $.ajax({
        type: "POST",
        url: "{{ url_for('tuple_count') }}",
        success: function(result) {
            alert('Total tuple count: ' + result['total_count']);
        },
        error: function(result) {
            alert('error');
        }
    });
});
</script>

{% endblock %}