{% extends "layout.html" %}
{% block content %}
<title>home</title>
<head>
</head>
<div class="container" align="center">
    <p align="justify">Campus safety is often a concern when choosing a school apart from financial, academic and location factors. Prospective students tend to look for information regarding violent crime incidents like shootings, assaults, thefts, etc. Fortunately, the Higher Education Act (HEA) of 1965 requires all postgraduate institutions participating in student financial assistance programs to disclose the crime related statistics and security information.</p>
    <p align="justify">App which provides analysis and observe trends on the basis of location, time, gender, race, age etc. to get an idea of the crimes usually committed and how can one remain mentally and physically prepared to tackle an onslaught. We have data of about <b>6604</b> Universities.  
    </p>
    <ul>
        <p align="left">The crimes are categorized based on 5 different locations:-</p>
        <li align="justify">Non-campus crimes</li>
        <li align="justify">On-campus crimes</li>
        <li align="justify">Public property crimes</li>
        <li align="justify">Reported by local authority</li>
        <li align="justify">Residence hall crimes</li>
    </ul>
    
    <ul>
        <p align="left">In all of the above locations, the crimes are categorized according to 5 different data:-</p>
        <li align="justify">Arrest data</li>
        <li align="justify">Criminal offenses data</li>
        <li align="justify">Disciplinary actions data</li>
        <li align="justify">Hate crimes data</li>
        <li align="justify">Vawa data</li>
    </ul>

</div>
<script type="text/javascript">
$('#target').click(function(e) {
    e.preventDefault();
    $.ajax({
        type: "POST",
        url: "{{ url_for('tuple_count') }}",
        success: function(result) {
            alert('Total tuple count: ' + result['total_count']);
        },
        error: function(result) {
            alert('error');
        }
    });
});
</script>

{% endblock %}